In [1]:
1

1

In [8]:
def my_sequence(arg1, arg2, n):
    result = 0
    for i in range(n):
        result = result + arg1 + arg2
        print(result)

In [10]:
my_sequence(2, 9, 4)

11
22
33
44

In [11]:
def my_sequence(arg1, arg2, n):
    result = 0
    i = 0
    while i < n:
        result = result + arg1 + arg2
        i += 1
        print(result)

In [12]:
my_sequence(2, 9, 4)

11
22
33
44

In [15]:
def my_sequence(arg1, arg2, n):
    result = 0
    i = 0
    while i < n:
        result = result + arg1 + arg2
        i += 1
        yield result

my_gen = my_sequence(2, 9, 4)

In [16]:
my_gen

In [17]:
next(my_gen)

11

In [18]:
next(my_gen)

22

In [19]:
next(my_gen)

33

In [20]:
next(my_gen)

44

In [27]:
""" 
next(my_gen)
"""
print("If you run this, your code will turn error")

If you run this, your code will turn error

### Determining the n-th Term of an Arithmetic Sequence and Arithmetic Series

Dalam latihan ini, kita akan membuat barisan aritmatika berhingga dan tak hingga menggunakan fungsi Python sederhana. Sebagai masukan, kita ingin memberikan suku pertama barisan tersebut, a1 , beda persekutuan , d , dan panjang barisan, n .

<li>Hanya satu suku (suku ke- n ) dari barisan tersebut.
<li>Urutan angka lengkap.
<li>Jumlah n suku deret aritmatika, untuk membandingkannya dengan hasil deret aritmatika yang diberikan sebelumnya.

We need to provide the first term of the sequence, a1, the common difference, d, and the length of the sequence, n, as inputs.

In [28]:
# Pertama, tulis fungsi yang mereturn hanya n-th.

def a_n(a1, d, n):
    an = a1 + (n-1) * d
    return an

Test thy codes

In [29]:
a_n(4,3,10)

31

Sekarang, tulis fungsi yang menginkrementasi suku awal, a1, sebanyak d, dan n kali. Selanjutnya kita menyimpannya semua kenaikan levelnya di dalam list

In [31]:
def a_seq(a1, d, n):
    sequence = []
    for _ in range(n):
        sequence.append(a1)
        a1 = a1+d
    return sequence

Test the code

In [33]:
a_seq(4,3,10)

# From here, we can check, that the value increases by 3 starts at 4 and has a length of 10

[4, 7, 10, 13, 16, 19, 22, 25, 28, 31]

Sekarang, mari buat urutan infinit. Gunakan generator

In [35]:
"""def infinite_a_sequence(a1,d):
    while True:
        yield a1
        a1 = a1 + d

for i in infinite_a_sequence(4,3):
    print(i, end=" ")"""

print("Don't run this cell")

Don't run this cell

In [36]:
# So let's calculate the sum of the terms of our sequence by calling the sum() method
sum(a_seq(4,3,10))

175

Implementasikan formula an=a1 + (n-1)d, yang memberi kita urutan aritmetik, jadi kita bisa membandingkannya dengan hasil kita

In [37]:
def a_series(a1, d, n):
    result = n*(a1 + a_n(a1, d, n))/2
    return result

a_series(4,3,10)

175.0

## Geometric Sequences

In [40]:
# First as example, let's write a python function that calculates the nth term of a geomteric
# function, based of the an = rn - 1a formula

def n_geom_seq(r, a, n):
    an = r**(n-1)*a
    return an

In [41]:
n_geom_seq(2,3,10)

1536