In [5]:
2

2

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [7]:
games = pd.read_csv('D:\RESEARCH\Dasarnya\MATH\Step_4_Statistics and Calculus Python\My Source Code\Work_7\\appstore_games.csv')

In [8]:
games.shape

(17007, 18)

In [9]:
games.head()

,URL,ID,Name,Subtitle,Icon URL,Average User Rating,User Rating Count,Price,In-app Purchases,Description,Developer,Age Rating,Languages,Size,Primary Genre,Genres,Original Release Date,Current Version Release Date
0,https://apps.apple.com/us/app/sudoku/id284921427,284921427,Sudoku,NaN,https://is2-ssl.mzstatic.com/image/thumb/Purpl...,4.0,3553.0,2.99,NaN,"Join over 21,000,000 of our fans and download ...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15853568.0,Games,"Games, Strategy, Puzzle",11/07/2008,30/05/2017
1,https://apps.apple.com/us/app/reversi/id284926400,284926400,Reversi,NaN,https://is4-ssl.mzstatic.com/image/thumb/Purpl...,3.5,284.0,1.99,NaN,"The classic game of Reversi, also known as Oth...",Kiss The Machine,4+,EN,12328960.0,Games,"Games, Strategy, Board",11/07/2008,17/05/2018
2,https://apps.apple.com/us/app/morocco/id284946595,284946595,Morocco,NaN,https://is5-ssl.mzstatic.com/image/thumb/Purpl...,3.0,8376.0,0.00,NaN,Play the classic strategy game Othello (also k...,Bayou Games,4+,EN,674816.0,Games,"Games, Board, Strategy",11/07/2008,5/09/2017
3,https://apps.apple.com/us/app/sudoku-free/id28...,285755462,Sudoku (Free),NaN,https://is3-ssl.mzstatic.com/image/thumb/Purpl...,3.5,190394.0,0.00,NaN,"Top 100 free app for over a year.\nRated ""Best...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",21552128.0,Games,"Games, Strategy, Puzzle",23/07/2008,30/05/2017
4,https://apps.apple.com/us/app/senet-deluxe/id2...,285831220,Senet Deluxe,NaN,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,3.5,28.0,2.99,NaN,"""Senet Deluxe - The Ancient Game of Life and A...",RoGame Software,4+,"DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...",34689024.0,Games,"Games, Strategy, Board, Education",18/07/2008,22/07/2018

In [10]:
original_columns_dict = {x: x.lower().replace(' ','_') for x in games.columns}
original_columns_dict

{'URL': 'url',
 'ID': 'id',
 'Name': 'name',
 'Subtitle': 'subtitle',
 'Icon URL': 'icon_url',
 'Average User Rating': 'average_user_rating',
 'User Rating Count': 'user_rating_count',
 'Price': 'price',
 'In-app Purchases': 'in-app_purchases',
 'Description': 'description',
 'Developer': 'developer',
 'Age Rating': 'age_rating',
 'Languages': 'languages',
 'Size': 'size',
 'Primary Genre': 'primary_genre',
 'Genres': 'genres',
 'Original Release Date': 'original_release_date',
 'Current Version Release Date': 'current_version_release_date'}

In [11]:
games.rename(columns=original_columns_dict, inplace=True)

In [12]:
games.head()

,url,id,name,subtitle,icon_url,average_user_rating,user_rating_count,price,in-app_purchases,description,developer,age_rating,languages,size,primary_genre,genres,original_release_date,current_version_release_date
0,https://apps.apple.com/us/app/sudoku/id284921427,284921427,Sudoku,NaN,https://is2-ssl.mzstatic.com/image/thumb/Purpl...,4.0,3553.0,2.99,NaN,"Join over 21,000,000 of our fans and download ...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15853568.0,Games,"Games, Strategy, Puzzle",11/07/2008,30/05/2017
1,https://apps.apple.com/us/app/reversi/id284926400,284926400,Reversi,NaN,https://is4-ssl.mzstatic.com/image/thumb/Purpl...,3.5,284.0,1.99,NaN,"The classic game of Reversi, also known as Oth...",Kiss The Machine,4+,EN,12328960.0,Games,"Games, Strategy, Board",11/07/2008,17/05/2018
2,https://apps.apple.com/us/app/morocco/id284946595,284946595,Morocco,NaN,https://is5-ssl.mzstatic.com/image/thumb/Purpl...,3.0,8376.0,0.00,NaN,Play the classic strategy game Othello (also k...,Bayou Games,4+,EN,674816.0,Games,"Games, Board, Strategy",11/07/2008,5/09/2017
3,https://apps.apple.com/us/app/sudoku-free/id28...,285755462,Sudoku (Free),NaN,https://is3-ssl.mzstatic.com/image/thumb/Purpl...,3.5,190394.0,0.00,NaN,"Top 100 free app for over a year.\nRated ""Best...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",21552128.0,Games,"Games, Strategy, Puzzle",23/07/2008,30/05/2017
4,https://apps.apple.com/us/app/senet-deluxe/id2...,285831220,Senet Deluxe,NaN,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,3.5,28.0,2.99,NaN,"""Senet Deluxe - The Ancient Game of Life and A...",RoGame Software,4+,"DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...",34689024.0,Games,"Games, Strategy, Board, Education",18/07/2008,22/07/2018

In [13]:
games.set_index(keys='id', inplace=True)
games.head()

,url,name,subtitle,icon_url,average_user_rating,user_rating_count,price,in-app_purchases,description,developer,age_rating,languages,size,primary_genre,genres,original_release_date,current_version_release_date
id,,,,,,,,,,,,,,,,,
284921427,https://apps.apple.com/us/app/sudoku/id284921427,Sudoku,NaN,https://is2-ssl.mzstatic.com/image/thumb/Purpl...,4.0,3553.0,2.99,NaN,"Join over 21,000,000 of our fans and download ...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15853568.0,Games,"Games, Strategy, Puzzle",11/07/2008,30/05/2017
284926400,https://apps.apple.com/us/app/reversi/id284926400,Reversi,NaN,https://is4-ssl.mzstatic.com/image/thumb/Purpl...,3.5,284.0,1.99,NaN,"The classic game of Reversi, also known as Oth...",Kiss The Machine,4+,EN,12328960.0,Games,"Games, Strategy, Board",11/07/2008,17/05/2018
284946595,https://apps.apple.com/us/app/morocco/id284946595,Morocco,NaN,https://is5-ssl.mzstatic.com/image/thumb/Purpl...,3.0,8376.0,0.00,NaN,Play the classic strategy game Othello (also k...,Bayou Games,4+,EN,674816.0,Games,"Games, Board, Strategy",11/07/2008,5/09/2017
285755462,https://apps.apple.com/us/app/sudoku-free/id28...,Sudoku (Free),NaN,https://is3-ssl.mzstatic.com/image/thumb/Purpl...,3.5,190394.0,0.00,NaN,"Top 100 free app for over a year.\nRated ""Best...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",21552128.0,Games,"Games, Strategy, Puzzle",23/07/2008,30/05/2017
285831220,https://apps.apple.com/us/app/senet-deluxe/id2...,Senet Deluxe,NaN,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,3.5,28.0,2.99,NaN,"""Senet Deluxe - The Ancient Game of Life and A...",RoGame Software,4+,"DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...",34689024.0,Games,"Games, Strategy, Board, Education",18/07/2008,22/07/2018

In [14]:
games.drop(columns=['url','icon_url'], inplace=True)
games.head()

,name,subtitle,average_user_rating,user_rating_count,price,in-app_purchases,description,developer,age_rating,languages,size,primary_genre,genres,original_release_date,current_version_release_date
id,,,,,,,,,,,,,,,
284921427,Sudoku,NaN,4.0,3553.0,2.99,NaN,"Join over 21,000,000 of our fans and download ...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15853568.0,Games,"Games, Strategy, Puzzle",11/07/2008,30/05/2017
284926400,Reversi,NaN,3.5,284.0,1.99,NaN,"The classic game of Reversi, also known as Oth...",Kiss The Machine,4+,EN,12328960.0,Games,"Games, Strategy, Board",11/07/2008,17/05/2018
284946595,Morocco,NaN,3.0,8376.0,0.00,NaN,Play the classic strategy game Othello (also k...,Bayou Games,4+,EN,674816.0,Games,"Games, Board, Strategy",11/07/2008,5/09/2017
285755462,Sudoku (Free),NaN,3.5,190394.0,0.00,NaN,"Top 100 free app for over a year.\nRated ""Best...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",21552128.0,Games,"Games, Strategy, Puzzle",23/07/2008,30/05/2017
285831220,Senet Deluxe,NaN,3.5,28.0,2.99,NaN,"""Senet Deluxe - The Ancient Game of Life and A...",RoGame Software,4+,"DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...",34689024.0,Games,"Games, Strategy, Board, Education",18/07/2008,22/07/2018

In [15]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17007 entries, 284921427 to 1475076711
Data columns (total 15 columns):
name                            17007 non-null object
subtitle                        5261 non-null object
average_user_rating             7561 non-null float64
user_rating_count               7561 non-null float64
price                           16983 non-null float64
in-app_purchases                7683 non-null object
description                     17007 non-null object
developer                       17007 non-null object
age_rating                      17007 non-null object
languages                       16947 non-null object
size                            17006 non-null float64
primary_genre                   17007 non-null object
genres                          17007 non-null object
original_release_date           17007 non-null object
current_version_release_date    17007 non-null object
dtypes: float64(4), object(11)
memory usage: 2.1+ MB

In [16]:
games['original_release_date'] = pd.to_datetime(games['original_release_date'])
games['current_version_release_date'] = pd.to_datetime(games['current_version_release_date'])

In [17]:
games.head()

,name,subtitle,average_user_rating,user_rating_count,price,in-app_purchases,description,developer,age_rating,languages,size,primary_genre,genres,original_release_date,current_version_release_date
id,,,,,,,,,,,,,,,
284921427,Sudoku,NaN,4.0,3553.0,2.99,NaN,"Join over 21,000,000 of our fans and download ...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15853568.0,Games,"Games, Strategy, Puzzle",2008-11-07,2017-05-30
284926400,Reversi,NaN,3.5,284.0,1.99,NaN,"The classic game of Reversi, also known as Oth...",Kiss The Machine,4+,EN,12328960.0,Games,"Games, Strategy, Board",2008-11-07,2018-05-17
284946595,Morocco,NaN,3.0,8376.0,0.00,NaN,Play the classic strategy game Othello (also k...,Bayou Games,4+,EN,674816.0,Games,"Games, Board, Strategy",2008-11-07,2017-05-09
285755462,Sudoku (Free),NaN,3.5,190394.0,0.00,NaN,"Top 100 free app for over a year.\nRated ""Best...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",21552128.0,Games,"Games, Strategy, Puzzle",2008-07-23,2017-05-30
285831220,Senet Deluxe,NaN,3.5,28.0,2.99,NaN,"""Senet Deluxe - The Ancient Game of Life and A...",RoGame Software,4+,"DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...",34689024.0,Games,"Games, Strategy, Board, Education",2008-07-18,2018-07-22

In [18]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17007 entries, 284921427 to 1475076711
Data columns (total 15 columns):
name                            17007 non-null object
subtitle                        5261 non-null object
average_user_rating             7561 non-null float64
user_rating_count               7561 non-null float64
price                           16983 non-null float64
in-app_purchases                7683 non-null object
description                     17007 non-null object
developer                       17007 non-null object
age_rating                      17007 non-null object
languages                       16947 non-null object
size                            17006 non-null float64
primary_genre                   17007 non-null object
genres                          17007 non-null object
original_release_date           17007 non-null datetime64[ns]
current_version_release_date    17007 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(4), object(9)
memory usage: 2.1+ MB

In [19]:
games.isnull().sum()

name                                0
subtitle                        11746
average_user_rating              9446
user_rating_count                9446
price                              24
in-app_purchases                 9324
description                         0
developer                           0
age_rating                          0
languages                          60
size                                1
primary_genre                       0
genres                              0
original_release_date               0
current_version_release_date        0
dtype: int64

In [20]:
np.array_equal(games['average_user_rating'].isnull(),games['user_rating_count'].isnull())

True

In [21]:
games = games.loc[games['average_user_rating'].notnull()]

In [22]:
games.isnull().sum()

name                               0
subtitle                        4837
average_user_rating                0
user_rating_count                  0
price                              0
in-app_purchases                2927
description                        0
developer                          0
age_rating                         0
languages                         24
size                               0
primary_genre                      0
genres                             0
original_release_date              0
current_version_release_date       0
dtype: int64

In [23]:
games = games.loc[games['user_rating_count'] >= 30]

In [24]:
games.shape

(4311, 15)

### Using String Column to Produce a Numerical Column

Kali ini, kita coba buat variable numerik yang baru, di mana variabel ini akan memiliki informasi tentang jumlah bahasa di mana game tersedia.

- Buat salinan, dan assign ke dalam variable baru

In [25]:
games2 = games.copy()

- Coba kita lihat pada kolom <i>languages</i>

In [26]:
games2['languages'].head()

id
284921427    DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...
284926400                                                   EN
284946595                                                   EN
285755462    DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...
286210009                                                   EN
Name: languages, dtype: object

- Kita bisa lihat, isinya terdiri dari bermacam singkatan bahasa yang dipisahkan oleh koma. Gunakan metode fillna() untuk mengganti nilai yang hilang dengan EN.

In [27]:
games2['languages'] = games2['languages'].fillna('EN')

- Gunakan split untuk mendapatkan list bahasa yang berbeda, dan simpan seriesnya dalam variable baru

In [28]:
list_of_languages = games2['languages'].str.split(',')

- Terakhir, buat kolom baru yang berisi hitungan berapa jumlah element yang kita punya di setiap kita meresult sebuah list. Gunakan fungsi lambda di dalam method apply

In [29]:
games2['n_languages'] = list_of_languages.apply(lambda x: len(x))

In [32]:
games2['n_languages']

id
284921427     17
284926400      1
284946595      1
285755462     17
286210009      1
              ..
1471336822     1
1471595571     1
1473181500     1
1473559573     1
1474461379     1
Name: n_languages, Length: 4311, dtype: int64

In [33]:
random_ratings = games['average_user_rating'].sample(n=300)

for r in random_ratings:
    print(r, end=',')

4.5,4.5,4.0,3.5,4.5,4.5,3.0,3.5,4.0,4.5,4.5,4.0,4.5,2.5,4.5,4.5,4.5,4.5,4.0,3.5,4.5,4.5,3.5,4.5,4.5,4.5,4.5,4.5,4.0,4.5,4.5,4.5,4.5,4.5,4.0,4.5,3.0,4.5,2.5,4.0,4.0,3.0,4.0,3.5,4.5,4.5,4.5,4.0,4.0,4.0,5.0,4.5,4.5,4.5,4.5,4.0,4.0,3.5,4.5,4.5,4.0,4.0,4.5,4.5,4.5,2.5,4.5,4.5,4.5,4.5,4.0,5.0,4.0,4.5,3.0,4.0,4.5,5.0,3.5,4.5,4.5,3.5,4.0,3.5,1.5,4.5,4.5,4.0,3.0,4.0,4.5,4.5,4.0,4.5,4.0,3.5,4.5,4.0,4.5,4.5,4.5,4.0,4.5,4.5,4.0,4.5,4.5,5.0,4.5,4.5,2.5,4.5,4.5,4.5,5.0,3.5,3.5,4.5,4.5,4.0,4.0,4.5,4.5,4.5,3.5,4.5,3.5,4.0,4.0,4.5,4.5,4.5,3.5,3.5,4.0,2.5,4.5,4.5,4.5,4.5,4.5,3.5,4.0,4.5,4.5,4.0,4.5,4.5,4.5,4.0,5.0,4.0,4.5,4.0,4.0,4.0,4.5,4.0,3.0,4.0,4.0,4.0,1.5,4.5,3.0,4.5,3.5,3.0,4.5,3.5,4.0,4.5,4.5,5.0,4.0,4.5,2.5,4.0,4.0,4.0,5.0,4.0,4.5,4.0,4.0,4.5,4.0,4.5,5.0,4.5,5.0,4.5,4.5,5.0,4.5,4.0,4.5,4.5,3.5,4.5,3.0,4.5,4.5,2.0,4.5,4.0,4.5,3.5,4.5,4.5,4.5,5.0,3.5,3.5,4.5,3.0,4.5,4.5,4.0,4.5,4.5,4.0,4.5,4.0,2.5,3.5,5.0,4.5,2.5,4.5,4.0,4.5,5.0,4.0,5.0,4.0,4.5,4.0,4.5,4.5,3.0,3.5,4.5,4.0,4.0,3.0,4.5,4.5,3.0,4.0,4.0,4.5,4.0,4.0,5.0,4.5,5.0,4.5,4.0,4.0,5.0,4.0,5.0,4.5,4.5,4.0,4.5,4.5,4.0,5.0,4.0,5.0,4.5,4.0,3.0,4.0,4.0,4.5,5.0,4.5,4.0,4.5,3.0,4.5,4.0,3.5,4.5,5.0,5.0,3.0,4.5,4.5,4.5,4.0,2.5,4.5,4.5,3.5,3.0,4.5,

In [42]:
mean_heights = pd.Series([1.68, 1.83, 1.75, 1.8, 1.88, 1.8, 1.89, 1.84,\
                 1.9, 1.65, 1.67,1.62, 1.81, 1.73, 1.84, 1.78,\
                 1.76, 1.97, 1.81, 1.75, 1.65, 1.87, 1.85, 1.64])

print(mean_heights.mean()) # For mean
print(mean_heights.std()) # For std

1.7820833333333335
0.09408502938099766

In [46]:
mens_heights_2 = pd.Series([1.77, 1.75, 1.75, 1.75, 1.73, 1.75, 1.73, 1.75,\
                   1.74, 1.76, 1.75, 1.75, 1.74, 1.76, 1.75, 1.76,\
                   1.76, 1.76, 1.75, 1.73, 1.74, 1.76, 1.76, 1.76])


print(mens_heights_2.mean()) # For mean
print(mens_heights_2.std()) # For std

1.7504166666666665
0.010826363421183332

In [50]:
mean_heights = pd.Series([1.68, 1.83, 1.75, 1.8, 1.88, 1.8, 1.89, 1.84,\
                 1.9, 1.65, 1.67,1.62, 1.81, 1.73, 1.84, 1.78,\
                 1.76, 1.97, 1.81, 1.75, 1.65, 1.87, 1.85, 1.64])

print(mean_heights.mean()) # For mean
print(mean_heights.std()) # For std
print(mean_heights.quantile([0.25, 0.5, 0.75])) # For Quartiles
print(mean_heights.quantile([0.33, 0.80])) # For opposites from quartiles

1.7820833333333335
0.09408502938099766
0.25    1.7175
0.50    1.8000
0.75    1.8425
dtype: float64
0.33    1.750
0.80    1.858
dtype: float64

In [51]:
mean_heights >= 1.8

0     False
1      True
2     False
3      True
4      True
5      True
6      True
7      True
8      True
9     False
10    False
11    False
12     True
13    False
14     True
15    False
16    False
17     True
18     True
19    False
20    False
21     True
22     True
23    False
dtype: bool

In [52]:
(mean_heights >= 1.8).sum()/mean_heights.shape[0]

0.5416666666666666

In [53]:
(mean_heights >= 1.8).mean()

0.5416666666666666

In [54]:
games.describe()

       average_user_rating  user_rating_count        price          size
count          4311.000000       4.311000e+03  4311.000000  4.311000e+03
mean              4.163535       5.789754e+03     0.677878  1.759569e+08
std               0.596239       5.592425e+04     2.910916  2.866278e+08
min               1.500000       3.000000e+01     0.000000  2.158400e+05
25%               4.000000       7.000000e+01     0.000000  4.073626e+07
50%               4.500000       2.210000e+02     0.000000  9.730048e+07
75%               4.500000       1.192000e+03     0.000000  2.085176e+08
max               5.000000       3.032734e+06   139.990000  4.005591e+09

In [55]:
games['user_rating_count'].sort_values(ascending=False).head(10)

id
529479190     3032734.0
1053012308    1277095.0
1330123889     711409.0
597986893      469562.0
1094591345     439776.0
672150402      400787.0
1270598321     374772.0
1116645064     283035.0
297558390      273687.0
847985808      259030.0
Name: user_rating_count, dtype: float64